# Andrew's, because all of your's suck

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

# CSS
[*.css]
trim_trailing_whitespace = false
[*.scss]
trim_trailing_whitespace = false
[*.sass]
trim_trailing_whitespace = false

# markup
[*.html]
indent_size = 4
[*.php]
indent_size = 4
[*.jade]
indent_size = 2

# javascript
[*.js]
indent_size = 2
indent_style = space

[*.json]
indent_size = 2
indent_style = space

[*.md]
trim_trailing_whitespace = false


[{.travis.yml,package.json}]
indent_size = 2
indent_style = space
